.aui-icon-40 {
    background:transparent url(aui-ico-40.png) left top no-repeat;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
}

.aui-icon-40.aui-icon-12c {
    background-position: -5px -5px;
}

.aui-icon-40.aui-icon-3fr {
    
    
    background-position: -55px -5px;
}

.aui-icon-40.aui-icon-7z {
    
    
    background-position: -105px -5px;
}

.aui-icon-40.aui-icon-_ode_file {
    
    
    background-position: -155px -5px;
}

.aui-icon-40.aui-icon-aac {
    
    
    background-position: -205px -5px;
}

.aui-icon-40.aui-icon-add_file {
    
    
    background-position: -255px -5px;
}

.aui-icon-40.aui-icon-add_list {
    
    
    background-position: -305px -5px;
}

.aui-icon-40.aui-icon-ai {
    
    
    background-position: -355px -5px;
}

.aui-icon-40.aui-icon-archive {
    
    
    background-position: -405px -5px;
}

.aui-icon-40.aui-icon-asc {
    
    
    background-position: -455px -5px;
}

.aui-icon-40.aui-icon-asp {
    
    
    background-position: -5px -55px;
}

.aui-icon-40.aui-icon-audio_book {
    
    
    background-position: -55px -55px;
}

.aui-icon-40.aui-icon-audio_file {
    
    
    background-position: -105px -55px;
}

.aui-icon-40.aui-icon-avi {
    
    
    background-position: -155px -55px;
}

.aui-icon-40.aui-icon-bas {
    
    
    background-position: -205px -55px;
}

.aui-icon-40.aui-icon-c_ {
    
    
    background-position: -255px -55px;
}

.aui-icon-40.aui-icon-c__ {
    
    
    background-position: -305px -55px;
}

.aui-icon-40.aui-icon-c_plus_plus {
    
    
    background-position: -355px -55px;
}

.aui-icon-40.aui-icon-cancel_file {
    
    
    background-position: -405px -55px;
}

.aui-icon-40.aui-icon-cbr {
    
    
    background-position: -455px -55px;
}

.aui-icon-40.aui-icon-cbz {
    
    
    background-position: -5px -105px;
}

.aui-icon-40.aui-icon-check_file {
    
    
    background-position: -55px -105px;
}

.aui-icon-40.aui-icon-cls {
    
    
    background-position: -105px -105px;
}

.aui-icon-40.aui-icon-code_file {
    
    
    background-position: -155px -105px;
}

.aui-icon-40.aui-icon-cr2 {
    
    
    background-position: -205px -105px;
}

.aui-icon-40.aui-icon-create_archive {
    
    
    background-position: -255px -105px;
}

.aui-icon-40.aui-icon-cs {
    
    
    background-position: -305px -105px;
}

.aui-icon-40.aui-icon-css {
    
    
    background-position: -355px -105px;
}

.aui-icon-40.aui-icon-css_filetype {
    
    
    background-position: -405px -105px;
}

.aui-icon-40.aui-icon-csv {
    
    
    background-position: -455px -105px;
}

.aui-icon-40.aui-icon-db2 {
    
    
    background-position: -5px -155px;
}

.aui-icon-40.aui-icon-delete_archive {
    
    
    background-position: -55px -155px;
}

.aui-icon-40.aui-icon-delete_file {
    
    
    background-position: -105px -155px;
}

.aui-icon-40.aui-icon-dll {
    
    
    background-position: -155px -155px;
}

.aui-icon-40.aui-icon-dmg {
    
    
    background-position: -205px -155px;
}

.aui-icon-40.aui-icon-dng {
    
    
    background-position: -255px -155px;
}

.aui-icon-40.aui-icon-doc {
    
    
    background-position: -305px -155px;
}

.aui-icon-40.aui-icon-edit_file {
    
    
    background-position: -355px -155px;
}

.aui-icon-40.aui-icon-eps {
    
    
    background-position: -405px -155px;
}

.aui-icon-40.aui-icon-epub {
    
    
    background-position: -455px -155px;
}

.aui-icon-40.aui-icon-exe {
    
    
    background-position: -5px -205px;
}

.aui-icon-40.aui-icon-favourite_file {
    
    
    background-position: -55px -205px;
}

.aui-icon-40.aui-icon-fb2 {
    
    
    background-position: -105px -205px;
}

.aui-icon-40.aui-icon-fff {
    
    
    background-position: -155px -205px;
}

.aui-icon-40.aui-icon-file {
    
    
    background-position: -205px -205px;
}

.aui-icon-40.aui-icon-flv {
    
    
    background-position: -255px -205px;
}

.aui-icon-40.aui-icon-folder {
    
    
    background-position: -305px -205px;
}

.aui-icon-40.aui-icon-generic_book_file_type {
    
    
    background-position: -355px -205px;
}

.aui-icon-40.aui-icon-gif {
    
    
    background-position: -405px -205px;
}

.aui-icon-40.aui-icon-gis {
    
    
    background-position: -455px -205px;
}

.aui-icon-40.aui-icon-gpx {
    
    
    background-position: -5px -255px;
}

.aui-icon-40.aui-icon-hdd {
    
    
    background-position: -55px -255px;
}

.aui-icon-40.aui-icon-hot_article {
    
    
    background-position: -105px -255px;
}

.aui-icon-40.aui-icon-html {
    
    
    background-position: -155px -255px;
}

.aui-icon-40.aui-icon-html_filetype {
    
    
    background-position: -205px -255px;
}

.aui-icon-40.aui-icon-image_file {
    
    
    background-position: -255px -255px;
}

.aui-icon-40.aui-icon-j2k {
    
    
    background-position: -305px -255px;
}

.aui-icon-40.aui-icon-jp2 {
    
    
    background-position: -355px -255px;
}

.aui-icon-40.aui-icon-jpg {
    
    
    background-position: -405px -255px;
}

.aui-icon-40.aui-icon-js {
    
    
    background-position: -455px -255px;
}

.aui-icon-40.aui-icon-json {
    
    
    background-position: -5px -305px;
}

.aui-icon-40.aui-icon-jsp {
    
    
    background-position: -55px -305px;
}

.aui-icon-40.aui-icon-kml {
    
    
    background-position: -105px -305px;
}

.aui-icon-40.aui-icon-kmz {
    
    
    background-position: -155px -305px;
}

.aui-icon-40.aui-icon-mark_as_favourite {
    
    
    background-position: -205px -305px;
}

.aui-icon-40.aui-icon-mobi {
    
    
    background-position: -255px -305px;
}

.aui-icon-40.aui-icon-mov {
    
    
    background-position: -305px -305px;
}

.aui-icon-40.aui-icon-mp3 {
    
    
    background-position: -355px -305px;
}

.aui-icon-40.aui-icon-mpg {
    
    
    background-position: -405px -305px;
}

.aui-icon-40.aui-icon-mysql {
    
    
    background-position: -455px -305px;
}

.aui-icon-40.aui-icon-nef {
    
    
    background-position: -5px -355px;
}

.aui-icon-40.aui-icon-nmea {
    
    
    background-position: -55px -355px;
}

.aui-icon-40.aui-icon-ogg {
    
    
    background-position: -105px -355px;
}

.aui-icon-40.aui-icon-open_archive {
    
    
    background-position: -155px -355px;
}

.aui-icon-40.aui-icon-opened_folder {
    
    
    background-position: -205px -355px;
}

.aui-icon-40.aui-icon-osm {
    
    
    background-position: -255px -355px;
}

.aui-icon-40.aui-icon-otf {
    
    
    background-position: -305px -355px;
}

.aui-icon-40.aui-icon-pdf {
    
    
    background-position: -355px -355px;
}

.aui-icon-40.aui-icon-pdf_2 {
    
    
    background-position: -405px -355px;
}

.aui-icon-40.aui-icon-png {
    
    
    background-position: -455px -355px;
}

.aui-icon-40.aui-icon-powerpoint {
    
    
    background-position: -5px -405px;
}

.aui-icon-40.aui-icon-ppt {
    
    
    background-position: -55px -405px;
}

.aui-icon-40.aui-icon-ps {
    
    
    background-position: -105px -405px;
}

.aui-icon-40.aui-icon-psd {
    
    
    background-position: -155px -405px;
}

.aui-icon-40.aui-icon-py {
    
    
    background-position: -205px -405px;
}

.aui-icon-40.aui-icon-rar {
    
    
    background-position: -255px -405px;
}

.aui-icon-40.aui-icon-raw {
    
    
    background-position: -305px -405px;
}

.aui-icon-40.aui-icon-rrp {
    
    
    background-position: -355px -405px;
}

.aui-icon-40.aui-icon-save_archive {
    
    
    background-position: -405px -405px;
}

.aui-icon-40.aui-icon-sql {
    
    
    background-position: -455px -405px;
}

.aui-icon-40.aui-icon-tar {
    
    
    background-position: -5px -455px;
}

.aui-icon-40.aui-icon-tif {
    
    
    background-position: -55px -455px;
}

.aui-icon-40.aui-icon-ttf {
    
    
    background-position: -105px -455px;
}

.aui-icon-40.aui-icon-txt {
    
    
    background-position: -155px -455px;
}

.aui-icon-40.aui-icon-vb {
    
    
    background-position: -205px -455px;
}

.aui-icon-40.aui-icon-vbs {
    
    
    background-position: -255px -455px;
}

.aui-icon-40.aui-icon-versions {
    
    
    background-position: -305px -455px;
}

.aui-icon-40.aui-icon-video_file {
    
    
    background-position: -355px -455px;
}

.aui-icon-40.aui-icon-view_file {
    
    
    background-position: -405px -455px;
}

.aui-icon-40.aui-icon-wav {
    
    
    background-position: -455px -455px;
}

.aui-icon-40.aui-icon-wma {
    
    
    background-position: -505px -5px;
}

.aui-icon-40.aui-icon-woff {
    
    
    background-position: -505px -55px;
}

.aui-icon-40.aui-icon-word {
    
    
    background-position: -505px -105px;
}

.aui-icon-40.aui-icon-wsh {
    
    
    background-position: -505px -155px;
}

.aui-icon-40.aui-icon-xaml {
    
    
    background-position: -505px -205px;
}

.aui-icon-40.aui-icon-xls {
    
    
    background-position: -505px -255px;
}

.aui-icon-40.aui-icon-xml {
    
    
    background-position: -505px -305px;
}

.aui-icon-40.aui-icon-zip {
    
    
    background-position: -505px -355px;
}
