 .aui-icon-70{
    background:transparent url(aui-ico-70.png) left top no-repeat;
    display: block;
    float: left;
    width: 70px;
    height: 70px;
}

.aui-icon-70.aui-icon-12c {
    background-position: -5px -5px;
}

.aui-icon-70.aui-icon-3fr {
    background-position: -85px -5px;
}

.aui-icon-70.aui-icon-7z {
    background-position: -165px -5px;
}

.aui-icon-70.aui-icon-_ode_file {
    
    
    background-position: -245px -5px;
}

.aui-icon-70.aui-icon-aac {
    
    
    background-position: -325px -5px;
}

.aui-icon-70.aui-icon-add_file {
    
    
    background-position: -405px -5px;
}

.aui-icon-70.aui-icon-add_list {
    
    
    background-position: -485px -5px;
}

.aui-icon-70.aui-icon-ai {
    
    
    background-position: -565px -5px;
}

.aui-icon-70.aui-icon-archive {
    
    
    background-position: -645px -5px;
}

.aui-icon-70.aui-icon-asc {
    
    
    background-position: -725px -5px;
}

.aui-icon-70.aui-icon-asp {
    
    
    background-position: -5px -85px;
}

.aui-icon-70.aui-icon-audio_book {
    
    
    background-position: -85px -85px;
}

.aui-icon-70.aui-icon-audio_file {
    
    
    background-position: -165px -85px;
}

.aui-icon-70.aui-icon-avi {
    
    
    background-position: -245px -85px;
}

.aui-icon-70.aui-icon-bas {
    
    
    background-position: -325px -85px;
}

.aui-icon-70.aui-icon-c_ {
    
    
    background-position: -405px -85px;
}

.aui-icon-70.aui-icon-c__ {
    
    
    background-position: -485px -85px;
}

.aui-icon-70.aui-icon-c_plus_plus {
    
    
    background-position: -565px -85px;
}

.aui-icon-70.aui-icon-cancel_file {
    
    
    background-position: -645px -85px;
}

.aui-icon-70.aui-icon-cbr {
    
    
    background-position: -725px -85px;
}

.aui-icon-70.aui-icon-cbz {
    
    
    background-position: -5px -165px;
}

.aui-icon-70.aui-icon-check_file {
    
    
    background-position: -85px -165px;
}

.aui-icon-70.aui-icon-cls {
    
    
    background-position: -165px -165px;
}

.aui-icon-70.aui-icon-code_file {
    
    
    background-position: -245px -165px;
}

.aui-icon-70.aui-icon-cr2 {
    
    
    background-position: -325px -165px;
}

.aui-icon-70.aui-icon-create_archive {
    
    
    background-position: -405px -165px;
}

.aui-icon-70.aui-icon-cs {
    
    
    background-position: -485px -165px;
}

.aui-icon-70.aui-icon-css {
    
    
    background-position: -565px -165px;
}

.aui-icon-70.aui-icon-css_filetype {
    
    
    background-position: -645px -165px;
}

.aui-icon-70.aui-icon-csv {
    
    
    background-position: -725px -165px;
}

.aui-icon-70.aui-icon-db2 {
    
    
    background-position: -5px -245px;
}

.aui-icon-70.aui-icon-delete_archive {
    
    
    background-position: -85px -245px;
}

.aui-icon-70.aui-icon-delete_file {
    
    
    background-position: -165px -245px;
}

.aui-icon-70.aui-icon-dll {
    
    
    background-position: -245px -245px;
}

.aui-icon-70.aui-icon-dmg {
    
    
    background-position: -325px -245px;
}

.aui-icon-70.aui-icon-dng {
    
    
    background-position: -405px -245px;
}

.aui-icon-70.aui-icon-doc {
    
    
    background-position: -485px -245px;
}

.aui-icon-70.aui-icon-edit_file {
    
    
    background-position: -565px -245px;
}

.aui-icon-70.aui-icon-eps {
    
    
    background-position: -645px -245px;
}

.aui-icon-70.aui-icon-epub {
    
    
    background-position: -725px -245px;
}

.aui-icon-70.aui-icon-exe {
    
    
    background-position: -5px -325px;
}

.aui-icon-70.aui-icon-favourite_file {
    
    
    background-position: -85px -325px;
}

.aui-icon-70.aui-icon-fb2 {
    
    
    background-position: -165px -325px;
}

.aui-icon-70.aui-icon-fff {
    
    
    background-position: -245px -325px;
}

.aui-icon-70.aui-icon-file {
    
    
    background-position: -325px -325px;
}

.aui-icon-70.aui-icon-flv {
    
    
    background-position: -405px -325px;
}

.aui-icon-70.aui-icon-folder {
    
    
    background-position: -485px -325px;
}

.aui-icon-70.aui-icon-generic_book_file_type {
    
    
    background-position: -565px -325px;
}

.aui-icon-70.aui-icon-gif {
    
    
    background-position: -645px -325px;
}

.aui-icon-70.aui-icon-gis {
    
    
    background-position: -725px -325px;
}

.aui-icon-70.aui-icon-gpx {
    
    
    background-position: -5px -405px;
}

.aui-icon-70.aui-icon-hdd {
    
    
    background-position: -85px -405px;
}

.aui-icon-70.aui-icon-hot_article {
    
    
    background-position: -165px -405px;
}

.aui-icon-70.aui-icon-html {
    
    
    background-position: -245px -405px;
}

.aui-icon-70.aui-icon-html_filetype {
    
    
    background-position: -325px -405px;
}

.aui-icon-70.aui-icon-image_file {
    
    
    background-position: -405px -405px;
}

.aui-icon-70.aui-icon-j2k {
    
    
    background-position: -485px -405px;
}

.aui-icon-70.aui-icon-jp2 {
    
    
    background-position: -565px -405px;
}

.aui-icon-70.aui-icon-jpg {
    
    
    background-position: -645px -405px;
}

.aui-icon-70.aui-icon-js {
    
    
    background-position: -725px -405px;
}

.aui-icon-70.aui-icon-json {
    
    
    background-position: -5px -485px;
}

.aui-icon-70.aui-icon-jsp {
    
    
    background-position: -85px -485px;
}

.aui-icon-70.aui-icon-kml {
    
    
    background-position: -165px -485px;
}

.aui-icon-70.aui-icon-kmz {
    
    
    background-position: -245px -485px;
}

.aui-icon-70.aui-icon-mark_as_favourite {
    
    
    background-position: -325px -485px;
}

.aui-icon-70.aui-icon-mobi {
    
    
    background-position: -405px -485px;
}

.aui-icon-70.aui-icon-mov {
    
    
    background-position: -485px -485px;
}

.aui-icon-70.aui-icon-mp3 {
    
    
    background-position: -565px -485px;
}

.aui-icon-70.aui-icon-mpg {
    
    
    background-position: -645px -485px;
}

.aui-icon-70.aui-icon-mysql {
    
    
    background-position: -725px -485px;
}

.aui-icon-70.aui-icon-nef {
    
    
    background-position: -5px -565px;
}

.aui-icon-70.aui-icon-nmea {
    
    
    background-position: -85px -565px;
}

.aui-icon-70.aui-icon-ogg {
    
    
    background-position: -165px -565px;
}

.aui-icon-70.aui-icon-open_archive {
    
    
    background-position: -245px -565px;
}

.aui-icon-70.aui-icon-opened_folder {
    
    
    background-position: -325px -565px;
}

.aui-icon-70.aui-icon-osm {
    
    
    background-position: -405px -565px;
}

.aui-icon-70.aui-icon-otf {
    
    
    background-position: -485px -565px;
}

.aui-icon-70.aui-icon-pdf {
    
    
    background-position: -565px -565px;
}

.aui-icon-70.aui-icon-pdf_2 {
    
    
    background-position: -645px -565px;
}

.aui-icon-70.aui-icon-png {
    
    
    background-position: -725px -565px;
}

.aui-icon-70.aui-icon-powerpoint {
    
    
    background-position: -5px -645px;
}

.aui-icon-70.aui-icon-ppt {
    
    
    background-position: -85px -645px;
}

.aui-icon-70.aui-icon-ps {
    
    
    background-position: -165px -645px;
}

.aui-icon-70.aui-icon-psd {
    
    
    background-position: -245px -645px;
}

.aui-icon-70.aui-icon-py {
    
    
    background-position: -325px -645px;
}

.aui-icon-70.aui-icon-rar {
    
    
    background-position: -405px -645px;
}

.aui-icon-70.aui-icon-raw {
    
    
    background-position: -485px -645px;
}

.aui-icon-70.aui-icon-rrp {
    
    
    background-position: -565px -645px;
}

.aui-icon-70.aui-icon-save_archive {
    
    
    background-position: -645px -645px;
}

.aui-icon-70.aui-icon-sql {
    
    
    background-position: -725px -645px;
}

.aui-icon-70.aui-icon-tar {
    
    
    background-position: -5px -725px;
}

.aui-icon-70.aui-icon-tif {
    
    
    background-position: -85px -725px;
}

.aui-icon-70.aui-icon-ttf {
    
    
    background-position: -165px -725px;
}

.aui-icon-70.aui-icon-txt {
    
    
    background-position: -245px -725px;
}

.aui-icon-70.aui-icon-vb {
    
    
    background-position: -325px -725px;
}

.aui-icon-70.aui-icon-vbs {
    
    
    background-position: -405px -725px;
}

.aui-icon-70.aui-icon-versions {
    
    
    background-position: -485px -725px;
}

.aui-icon-70.aui-icon-video_file {
    
    
    background-position: -565px -725px;
}

.aui-icon-70.aui-icon-view_file {
    
    
    background-position: -645px -725px;
}

.aui-icon-70.aui-icon-wav {
    
    
    background-position: -725px -725px;
}

.aui-icon-70.aui-icon-wma {
    
    
    background-position: -805px -5px;
}

.aui-icon-70.aui-icon-woff {
    
    
    background-position: -805px -85px;
}

.aui-icon-70.aui-icon-word {
    
    
    background-position: -805px -165px;
}

.aui-icon-70.aui-icon-wsh {
    
    
    background-position: -805px -245px;
}

.aui-icon-70.aui-icon-xaml {
    
    
    background-position: -805px -325px;
}

.aui-icon-70.aui-icon-xls {
    
    
    background-position: -805px -405px;
}

.aui-icon-70.aui-icon-xml {
    
    
    background-position: -805px -485px;
}

.aui-icon-70.aui-icon-zip {
    
    
    background-position: -805px -565px;
}
