.aui-icon-20 {
    background:transparent url(aui-ico-20.png) left top no-repeat;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
}

.aui-icon-20.aui-icon-12c {
    
    
    background-position: -5px -5px;
}

.aui-icon-20.aui-icon-3fr {
    
    
    background-position: -35px -5px;
}

.aui-icon-20.aui-icon-7z {
    
    
    background-position: -65px -5px;
}

.aui-icon-20.aui-icon-_ode_file {
    
    
    background-position: -95px -5px;
}

.aui-icon-20.aui-icon-aac {
    
    
    background-position: -125px -5px;
}

.aui-icon-20.aui-icon-add_file {
    
    
    background-position: -155px -5px;
}

.aui-icon-20.aui-icon-add_list {
    
    
    background-position: -185px -5px;
}

.aui-icon-20.aui-icon-ai {
    
    
    background-position: -215px -5px;
}

.aui-icon-20.aui-icon-archive {
    
    
    background-position: -245px -5px;
}

.aui-icon-20.aui-icon-asc {
    
    
    background-position: -275px -5px;
}

.aui-icon-20.aui-icon-asp {
    
    
    background-position: -5px -35px;
}

.aui-icon-20.aui-icon-audio_book {
    
    
    background-position: -35px -35px;
}

.aui-icon-20.aui-icon-audio_file {
    
    
    background-position: -65px -35px;
}

.aui-icon-20.aui-icon-avi {
    
    
    background-position: -95px -35px;
}

.aui-icon-20.aui-icon-bas {
    
    
    background-position: -125px -35px;
}

.aui-icon-20.aui-icon-c_ {
    
    
    background-position: -155px -35px;
}

.aui-icon-20.aui-icon-c__ {
    
    
    background-position: -185px -35px;
}

.aui-icon-20.aui-icon-c_plus_plus {
    
    
    background-position: -215px -35px;
}

.aui-icon-20.aui-icon-cancel_file {
    
    
    background-position: -245px -35px;
}

.aui-icon-20.aui-icon-cbr {
    
    
    background-position: -275px -35px;
}

.aui-icon-20.aui-icon-cbz {
    
    
    background-position: -5px -65px;
}

.aui-icon-20.aui-icon-check_file {
    
    
    background-position: -35px -65px;
}

.aui-icon-20.aui-icon-cls {
    
    
    background-position: -65px -65px;
}

.aui-icon-20.aui-icon-code_file {
    
    
    background-position: -95px -65px;
}

.aui-icon-20.aui-icon-cr2 {
    
    
    background-position: -125px -65px;
}

.aui-icon-20.aui-icon-create_archive {
    
    
    background-position: -155px -65px;
}

.aui-icon-20.aui-icon-cs {
    
    
    background-position: -185px -65px;
}

.aui-icon-20.aui-icon-css {
    
    
    background-position: -215px -65px;
}

.aui-icon-20.aui-icon-css_filetype {
    
    
    background-position: -245px -65px;
}

.aui-icon-20.aui-icon-csv {
    
    
    background-position: -275px -65px;
}

.aui-icon-20.aui-icon-db2 {
    
    
    background-position: -5px -95px;
}

.aui-icon-20.aui-icon-delete_archive {
    
    
    background-position: -35px -95px;
}

.aui-icon-20.aui-icon-delete_file {
    
    
    background-position: -65px -95px;
}

.aui-icon-20.aui-icon-dll {
    
    
    background-position: -95px -95px;
}

.aui-icon-20.aui-icon-dmg {
    
    
    background-position: -125px -95px;
}

.aui-icon-20.aui-icon-dng {
    
    
    background-position: -155px -95px;
}

.aui-icon-20.aui-icon-doc {
    
    
    background-position: -185px -95px;
}

.aui-icon-20.aui-icon-edit_file {
    
    
    background-position: -215px -95px;
}

.aui-icon-20.aui-icon-eps {
    
    
    background-position: -245px -95px;
}

.aui-icon-20.aui-icon-epub {
    
    
    background-position: -275px -95px;
}

.aui-icon-20.aui-icon-exe {
    
    
    background-position: -5px -125px;
}

.aui-icon-20.aui-icon-favourite_file {
    
    
    background-position: -35px -125px;
}

.aui-icon-20.aui-icon-fb2 {
    
    
    background-position: -65px -125px;
}

.aui-icon-20.aui-icon-fff {
    
    
    background-position: -95px -125px;
}

.aui-icon-20.aui-icon-file {
    
    
    background-position: -125px -125px;
}

.aui-icon-20.aui-icon-flv {
    
    
    background-position: -155px -125px;
}

.aui-icon-20.aui-icon-folder {
    
    
    background-position: -185px -125px;
}

.aui-icon-20.aui-icon-generic_book_file_type {
    
    
    background-position: -215px -125px;
}

.aui-icon-20.aui-icon-gif {
    
    
    background-position: -245px -125px;
}

.aui-icon-20.aui-icon-gis {
    
    
    background-position: -275px -125px;
}

.aui-icon-20.aui-icon-gpx {
    
    
    background-position: -5px -155px;
}

.aui-icon-20.aui-icon-hdd {
    
    
    background-position: -35px -155px;
}

.aui-icon-20.aui-icon-hot_article {
    
    
    background-position: -65px -155px;
}

.aui-icon-20.aui-icon-html {
    
    
    background-position: -95px -155px;
}

.aui-icon-20.aui-icon-html_filetype {
    
    
    background-position: -125px -155px;
}

.aui-icon-20.aui-icon-image_file {
    
    
    background-position: -155px -155px;
}

.aui-icon-20.aui-icon-j2k {
    
    
    background-position: -185px -155px;
}

.aui-icon-20.aui-icon-jp2 {
    
    
    background-position: -215px -155px;
}

.aui-icon-20.aui-icon-jpg {
    
    
    background-position: -245px -155px;
}

.aui-icon-20.aui-icon-js {
    
    
    background-position: -275px -155px;
}

.aui-icon-20.aui-icon-json {
    
    
    background-position: -5px -185px;
}

.aui-icon-20.aui-icon-jsp {
    
    
    background-position: -35px -185px;
}

.aui-icon-20.aui-icon-kml {
    
    
    background-position: -65px -185px;
}

.aui-icon-20.aui-icon-kmz {
    
    
    background-position: -95px -185px;
}

.aui-icon-20.aui-icon-mark_as_favourite {
    
    
    background-position: -125px -185px;
}

.aui-icon-20.aui-icon-mobi {
    
    
    background-position: -155px -185px;
}

.aui-icon-20.aui-icon-mov {
    
    
    background-position: -185px -185px;
}

.aui-icon-20.aui-icon-mp3 {
    
    
    background-position: -215px -185px;
}

.aui-icon-20.aui-icon-mpg {
    
    
    background-position: -245px -185px;
}

.aui-icon-20.aui-icon-mysql {
    
    
    background-position: -275px -185px;
}

.aui-icon-20.aui-icon-nef {
    
    
    background-position: -5px -215px;
}

.aui-icon-20.aui-icon-nmea {
    
    
    background-position: -35px -215px;
}

.aui-icon-20.aui-icon-ogg {
    
    
    background-position: -65px -215px;
}

.aui-icon-20.aui-icon-open_archive {
    
    
    background-position: -95px -215px;
}

.aui-icon-20.aui-icon-opened_folder {
    
    
    background-position: -125px -215px;
}

.aui-icon-20.aui-icon-osm {
    
    
    background-position: -155px -215px;
}

.aui-icon-20.aui-icon-otf {
    
    
    background-position: -185px -215px;
}

.aui-icon-20.aui-icon-pdf {
    
    
    background-position: -215px -215px;
}

.aui-icon-20.aui-icon-pdf_2 {
    
    
    background-position: -245px -215px;
}

.aui-icon-20.aui-icon-png {
    
    
    background-position: -275px -215px;
}

.aui-icon-20.aui-icon-powerpoint {
    
    
    background-position: -5px -245px;
}

.aui-icon-20.aui-icon-ppt {
    
    
    background-position: -35px -245px;
}

.aui-icon-20.aui-icon-ps {
    
    
    background-position: -65px -245px;
}

.aui-icon-20.aui-icon-psd {
    
    
    background-position: -95px -245px;
}

.aui-icon-20.aui-icon-py {
    
    
    background-position: -125px -245px;
}

.aui-icon-20.aui-icon-rar {
    
    
    background-position: -155px -245px;
}

.aui-icon-20.aui-icon-raw {
    
    
    background-position: -185px -245px;
}

.aui-icon-20.aui-icon-rrp {
    
    
    background-position: -215px -245px;
}

.aui-icon-20.aui-icon-save_archive {
    
    
    background-position: -245px -245px;
}

.aui-icon-20.aui-icon-sql {
    
    
    background-position: -275px -245px;
}

.aui-icon-20.aui-icon-tar {
    
    
    background-position: -5px -275px;
}

.aui-icon-20.aui-icon-tif {
    
    
    background-position: -35px -275px;
}

.aui-icon-20.aui-icon-ttf {
    
    
    background-position: -65px -275px;
}

.aui-icon-20.aui-icon-txt {
    
    
    background-position: -95px -275px;
}

.aui-icon-20.aui-icon-vb {
    
    
    background-position: -125px -275px;
}

.aui-icon-20.aui-icon-vbs {
    
    
    background-position: -155px -275px;
}

.aui-icon-20.aui-icon-versions {
    
    
    background-position: -185px -275px;
}

.aui-icon-20.aui-icon-video_file {
    
    
    background-position: -215px -275px;
}

.aui-icon-20.aui-icon-view_file {
    
    
    background-position: -245px -275px;
}

.aui-icon-20.aui-icon-wav {
    
    
    background-position: -275px -275px;
}

.aui-icon-20.aui-icon-wma {
    
    
    background-position: -305px -5px;
}

.aui-icon-20.aui-icon-woff {
    
    
    background-position: -305px -35px;
}

.aui-icon-20.aui-icon-word {
    
    
    background-position: -305px -65px;
}

.aui-icon-20.aui-icon-wsh {
    
    
    background-position: -305px -95px;
}

.aui-icon-20.aui-icon-xaml {
    
    
    background-position: -305px -125px;
}

.aui-icon-20.aui-icon-xls {
    
    
    background-position: -305px -155px;
}

.aui-icon-20.aui-icon-xml {
    
    
    background-position: -305px -185px;
}

.aui-icon-20.aui-icon-zip {
    
    
    background-position: -305px -215px;
}
