.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.aui-component {
    position: relative;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.aui-drop-menu .drop-handler {
    color: #1e395b;
    text-decoration: none;
    display: block;
}

.aui-drop-menu .drop-handler .menu-title {
    text-decoration: underline;
}

.aui-drop-menu .drop-handler .menu-items {
    position: fixed;
    display: none;
    z-index: 101;
    background: #f2f2f2;
    border: solid 1px #ccc;
    list-style: none;
    padding: 1px;
    margin: 0;
    box-shadow: 2px 2px 4px 0 #8e8e8e;
}

.aui-drop-menu .drop-handler.active .menu-items {
    display: block
}

.aui-drop-menu .drop-handler .menu-items li {
    line-height: 1.8em !important;
}

.aui-drop-menu .drop-handler .menu-items li:hover {
    background: #92caf8
}

.aui-drop-menu .drop-handler .menu-items li div {
    text-align: left;
    min-width: 150px;
    margin: 0 1px;
    padding: 5px 40px 5px 2px;
    white-space: nowrap
}

.aui-drop-menu .drop-handler .menu-items li div i {
    margin-right: 10px;
}

.meta-container .actions .aui-drop-menu {
    float: right;
    line-height: 32px
}

.meta-container .actions .aui-drop-menu .drop-handler {
    color: #1e395b;
    text-decoration: none;
}

.meta-container .actions .aui-drop-menu .drop-handler i:first-child {margin: 6px 4px;
}

.meta-container .actions .aui-drop-menu .drop-handler .menu-title {
    text-decoration: underline;
}

.meta-container .actions .aui-drop-menu .drop-handler .menu-items {
    right: -10px
}
.meta-container .actions .aui-drop-menu .drop-handler .menu-items li div i {margin: 0 5px;  }

.aui-ribbon .tabs-container .tabs-header ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.aui-ribbon .tabs-container .tabs-header ul li {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none
}

.aui-ribbon .tabs-container .tabs-header ul li:hover {
    border: 1px solid #EBECEC;
    border-bottom: none;
    margin: 0
}

.aui-ribbon .tabs-container .tabs-header ul li.active {
    background: #f5f6f7;
    border: 1px solid #DADBDC;
    border-bottom: none;
    margin: 0
}

.aui-ribbon .tabs-container .tabs-header ul li a {
    display: block;
    padding: 5px 10px;
    color: #1e395b;
    text-decoration: none
}

.aui-ribbon .tabs-container .tabs-header ul li.active a {
    z-index: 1;
    border-bottom: 1px solid #f5f6f7;
    padding: 5px 10px 4px 10px;
    position: relative;
    top: 1px;
}
.aui-ribbon .tabs-container .tabs-content {
    max-width: 100%;
    overflow-x: hidden;
    position: relative
}

.aui-ribbon .tabs-container .tabs-content .slide-handler {
    display: none;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #ccc;
    z-index: 100;
    opacity: 0.7;
    cursor: pointer
}

.aui-ribbon .tabs-container .tabs-content .slide-handler i {
    margin: 50px 0 0 7px;
}

.aui-ribbon .tabs-container .tabs-content.slide .left-slide-handler {
    left: 0;
    display: block
}

.aui-ribbon .tabs-container .tabs-content.slide .right-slide-handler {
    right: 0;
    display: block
}

.aui-ribbon .tabs-container .tabs-content .tab-content {
    position: relative;
    transition: left .8s;
    display: none;
    background: #f5f6f7;
    padding: 2px;
    border-bottom: 1px solid #DADBDC;
    border-top: 1px solid #dadbdc;
}
.aui-ribbon .tabs-container .tabs-content .tab-content.active {
    display: block
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section {
    position: relative;
    height: 110px;
    float: left;
    border-right: 1px solid #e2e3e4;
    padding: 2px 4px 0
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button {
    float: left
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button button {
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 0
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button button:hover {
    background: #eaf0f7;
    border: 1px solid #9dcafa;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button button:active {
    background-color: #C9E0F8;
    border: 1px solid #5098E4
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button button:active:hover {
    background-color: #D5E6F7
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button button i {
    float: none;
    margin: auto;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button.inline {float: none;
    max-width: none;
    font-size: 1em
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button.inline i{
    float: left;
}
.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button.inline button span{
    display: block;
    float: left;
    margin: 4px;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button.disabled button {
    color: #afafb0
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .button.disabled button:hover {
    background: none;
    border: 1px solid #f5f6f7
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 2px
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button >a> i {float: none;
    display: block;
    margin: auto;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button a .menu-items {
    margin: 3px 0 0 -3px;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button:hover {
    background: #eaf0f7;
    border: 1px solid #9dcafa;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button:active {
    background-color: #C9E0F8;
    border: 1px solid #5098E4;
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .drop-button:focus {
    border: 1px solid transparent
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .toggle-button.active button {
    background-color: #C9E0F8;
    border: 1px solid #5098E4
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .toggle-button.active button:hover {
    background-color: #D5E6F7
}

.aui-ribbon .tabs-container .tabs-content .tab-content .section .section-content .section-content-column {
    float: left;
    margin-right: 5px;
}

.aui-ribbon .tabs-container .tabs-content .section .section-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #929292;
    background: #ededed;
}

.aui-achaplorer .meta-container {
    line-height: 32px;
    padding: 0 5px;
    background: #e6f0fa;
    border-bottom: 1px solid #a0afc3;
}
.aui-achaplorer .meta-container .info {
    float: left
}

.aui-achaplorer .meta-container .info i {margin: 6px 5px;
}
.aui-achaplorer .aui-ribbon .tabs-container .tabs-content .section .section-content .button.btn-navigatio button {
    width: 80px;
}
.aui-navigation-bar {
    padding: 10px
}

.aui-navigation-bar .path-container {
    position: relative;
    float: left;
    min-width:300px;
    width: calc(100% - 200px);
    border: 1px solid #d9d9d9;
    padding-right: 32px;
    white-space: nowrap;
    overflow: hidden;
}

.aui-navigation-bar .path-container .parent-button-container {
    float: left;
    border: 1px solid transparent
}

.aui-navigation-bar .path-container .parent-button-container:hover {
    background-color: #E6F4FF;
    border: 1px solid #D0EAFF
}

.aui-navigation-bar .path-container .parent-button-container a {
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
    border-right: 1px solid transparent;
    padding: 3px 2px 4px;
}

.aui-navigation-bar .path-container .parent-button-container:hover a {
    border-right: 1px solid #D0EAFF
}
.aui-navigation-bar .path-container .parent-button-container .show-sub-folders {
    position: relative;
    float: left;
    padding: 7px 0;
    cursor: pointer
}

.aui-navigation-bar .path-container .path-inner-container {
    float: left;
    position: relative;
}



.aui-navigation-bar .path-container .path-inner-container .slide-handler {
    display: none;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #ccc;
    z-index: 100;
    opacity: 0.7;
    cursor: pointer
}

.aui-navigation-bar .path-container .path-inner-container .slide-handler i {
    margin: 7px 0 0 7px;
}

.aui-navigation-bar .path-container .path-inner-container.slide {
    overflow: hidden;
}

.aui-navigation-bar .path-container .path-inner-container.slide .left-slide-handler {
    left: 0;
    display: block
}

.aui-navigation-bar .path-container .path-inner-container.slide .right-slide-handler {
    right: 0;
    display: block
}


.aui-navigation-bar .path-container .path-inner-container .root-folders {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    transition: left .8s;
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder {
    float: left
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder a {
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
    border-right: 1px solid transparent;
    padding: 4px 2px
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder button {
    padding: 0 2px
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder {
    display: block;
    border: 1px solid transparent;
    float: left
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder > a i {
    display: none
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder:hover {
    background-color: #E6F4FF;
    border: 1px solid #D0EAFF
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder:hover > a {
    border-right: 1px solid #D0EAFF
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder:active {
    background: #CCE8FF;
    border: 1px solid #9AD2FF
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder:active > a {
    border-right: 1px solid #9AD2FF
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder.active.open{background: #CCE8FF;border: 1px solid #9AD2FF}
.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder .sub-folders {
    display: none;
    position: fixed;
    margin: 21px 0 0 -15px;
    white-space: nowrap;
    list-style: none;
    z-index: 101;
    background-color: #f2f2f2;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0 #8e8e8e;
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder .show-sub-folders {
    position: relative;
    float: left;
    padding:7px 0;
    cursor: pointer
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder .sub-folders li a {
    display: block;
    width: 100%;
    padding: 5px 40px 5px 0
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder .sub-folders li a:hover {
    background-color: #92caf8
}

.aui-navigation-bar .path-container .path-inner-container .root-folders .root-folder .sub-folders li a i {
    margin: 0 10px;
}

.aui-navigation-bar .path-container .refresh-button-container {
    position: absolute;
    right: 0;
    height: 100%;
    border-left: 1px solid #ccc;
}

.aui-navigation-bar .path-container .refresh-button-container button {
    height: 100%;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 5px;
}

.aui-navigation-bar .path-container .refresh-button-container button:hover {
    background-color: #E6F4FF;
    border: 1px solid #D0EAFF
}

.aui-navigation-bar .search-container {
    float: left;
    width: 200px;
    padding-left: 10px
}

.aui-navigation-bar .search-container .input-group {
    position: relative
}

.aui-navigation-bar .search-container .input-group .prefix button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px
}

.aui-navigation-bar .search-container .input-group input {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 4px 21px 4px 5px;
    line-height: 21px
}

.aui-navigation-bar .search-container .input-group input:focus {
    box-shadow: none;
    border: 1px solid #7EB4EA
}

.aui-split-panel {
    position: relative;
    cursor: pointer
}

.folder-explorer-panel{width: 250px}
.file-explorer-panel{margin-left: 260px; padding-left:10px }

.aui-split-panel .panel.fixed {
    position: absolute
}

.aui-split-panel .panel-handler {
    background: #ededed;
    opacity: 0.5;
    float: left;
    height: 100%;
    left: 250px;
    position: absolute;
    width: 10px;
}
.aui-split-panel .panel-handler .panel-handler-button button {
    left: 3px;
    position: absolute;
    top: 50%;
}

.aui-tree .tree-container {
    padding: 0;
    list-style: none;
}

.aui-tree .tree-container .tree-node div {
    padding: 3px 0 3px 5px;
    border: 1px solid transparent;
    margin: 1px;
}

.aui-tree .tree-container .tree-node div:hover {
    background: #E6F4FF;
    border: 1px solid #E6F4FF;
}

.aui-tree .tree-container .tree-node div.selected {
    background: #CCE8FF;
}

.aui-tree .tree-container .tree-node div.selected:hover {
    background: #CCE8FF;
    border: 1px solid #7AC3FF;
}

.aui-tree .tree-container .tree-node .child-info {
    display: block;
    float: left;
    margin: 3px 8px;
}
.aui-tree .tree-container .tree-node div .node-info {
    margin-left: 3px;
}
.aui-tree .tree-container .tree-node .tree-container .tree-node div {
    padding-left: 30px;
}
.aui-tree .tree-container .tree-node .tree-container .tree-node .tree-container .tree-node div {
     padding-left: 55px;
 }
.aui-file-explorer-preview .details-tape {display: none;
}

.aui-file-explorer-preview .details-tape .details{float: left;
}

.aui-file-explorer-preview .details-tape .details.name{width: calc(100% - 470px);
}

.aui-file-explorer-preview .details-tape .details.date-modified{width: 150px;
}

.aui-file-explorer-preview .details-tape .details.type{width: 150px;
}

.aui-file-explorer-preview .details-tape .details.size{width: 150px;
}

.aui-file-explorer-preview .navid {
    max-height: 400px;
    overflow: auto;
    list-style: none;
    padding: 0
}

.aui-file-explorer-preview .navid li {
    margin: 1px;
    padding: 3px;
    float: left;
    display: block;
    border: 1px solid transparent;
}

.aui-file-explorer-preview .navid li:hover {
    background: #E6F4FF;
}

.aui-file-explorer-preview .navid li.focused {
    border: 1px solid #7AC3FF;
}

.aui-file-explorer-preview .navid li.focused:hover {
    background: #D9EAF9;
    border: 1px solid #D9EAF9;
}

.aui-file-explorer-preview .navid li.selected {
    background: #CCE8FF;
    border: 1px solid #7AC3FF;
}
.aui-file-explorer-preview .navid li .details.date-modified {display: none;
}

.aui-file-explorer-preview .navid li .details.type {display: none;
}

.aui-file-explorer-preview .navid li .details.size {display: none;
}

.aui-file-explorer-preview .navid li i {float: none; margin: auto;
}

.aui-file-explorer-preview .navid li span {
    text-align: center;
    display: block;
    width: 100%;
}
.aui-file-explorer-preview .details-tape .details{border-right: 1px solid #E5E5E5;}
.aui-file-explorer-preview .details-tape .details:hover{background:#D9EBF9 ;border-right: 1px solid #D9EBF9;}
.aui-file-explorer-preview .details-tape .details.name{position: relative}
.aui-file-explorer-preview .details-tape .details .details-text{float: left;padding: 3px}
.aui-file-explorer-preview .details-tape .details i{margin: 0 calc(50% - 7px);position: absolute}
.aui-file-explorer-preview .details-tape .details .show-settings{position: relative;border-left:1px solid transparent;float: right;padding: 6px 2px}
.aui-file-explorer-preview .details-tape .details:hover .show-settings{border-left:1px solid #C3D3E0}
.aui-file-explorer-preview .details-tape .details .show-settings i{float: right;margin: 0;position: inherit}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu{
    /*display: none*/;
    position: absolute;
    top: 26px;
    left: -1px;
    margin: 0;
    white-space: nowrap;
    list-style: none;
    z-index: 101;
    background-color: #f2f2f2;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0 #8e8e8e;}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li{
    position: relative;
}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li a{
    display: block;
    width: 100%;
    padding: 5px 40px 5px 5px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid transparent;
}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li i{
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px 3px;
}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li a:hover{
    background-color: #92caf8;

}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li ul{
    display: none;
    position: absolute;
    left: 145px;
    top: 0;
    white-space: nowrap;
    list-style: none;
    z-index: 102;
    background-color: #f2f2f2;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0 #8e8e8e;
}
.aui-file-explorer-preview .details-tape .details .show-settings .details-menu li:hover ul{
     display: block;
 }

/*extra large icon*/

.aui-file-explorer-preview.x-large .navid li {width: 180px;}
.aui-file-explorer-preview.x-large .navid li i {margin: 20px auto;}
.aui-file-explorer-preview.x-large .navid li span {height: 100px;}
.aui-file-explorer-preview.large .navid li {width: 100px;}
.aui-file-explorer-preview.large .navid li i {margin: 10px auto;}
.aui-file-explorer-preview.large .navid li span {height: 50px;}
/*medium icons*/

.aui-file-explorer-preview.medium .navid li {width: 60px;  }
.aui-file-explorer-preview.medium .navid li span {height: 40px;  }
/*small icons*/

.aui-file-explorer-preview.small .navid li {width: 250px;padding: 1px;  }
.aui-file-explorer-preview.small .navid li i {float: left;margin: 0 2px;  }
.aui-file-explorer-preview.small .navid li span {text-align: left;width: auto;  }
/*details icons*/

.aui-file-explorer-preview.detailed .details-tape {display: block;  }
.aui-file-explorer-preview.detailed .navid {margin: 0;  }
.aui-file-explorer-preview.detailed .navid li {float: none;padding: 0;  }
.aui-file-explorer-preview.detailed .navid li .details {float: left;  }
.aui-file-explorer-preview.detailed .navid li .details.name {width: calc(100% - 450px);  }
.aui-file-explorer-preview.detailed .navid li .details.date-modified {display: block;width: 150px;  }
.aui-file-explorer-preview.detailed .navid li .details.type {display: block;width: 150px;  }
.aui-file-explorer-preview.detailed .navid li .details.size {display: block;width: 150px;  }
.aui-file-explorer-preview.detailed .navid li i {float: left;margin-right: 5px;  }
.aui-file-explorer-preview.detailed .navid li span {text-align: left;  }
/*tiles*/

.aui-file-explorer-preview.tiles .navid li {width: 250px;  }
.aui-file-explorer-preview.tiles .navid li i {float: left;margin-right: 10px;  }
.aui-file-explorer-preview.tiles .navid li span {text-align: left; padding: 10px 0;width: auto;  }


.aui-modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.aui-modal .modal-container {
    width: 400px;
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    background: #fff;
    border: 1px solid #ddd;
}

.aui-modal .modal-container .modal-header {
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.aui-modal .modal-container .modal-header .info {
    height: 35px;
    padding: 5px 0 0 10px;
}

.aui-modal .modal-container .modal-header .info i {
    font-size: 15px;
}

.aui-modal .modal-container .modal-header .info span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.aui-modal .modal-container .modal-header .actions {
    float: right
}

.aui-modal .modal-container .modal-header .actions button {
    width: 35px;
    height: 35px;
    border-radius: 0;
    border: none;
    background: none;
}

.aui-modal .modal-container .modal-header .actions button i {
    color: #222
}

.aui-modal .modal-container .modal-header .actions button.close {
}

.aui-modal .modal-container .modal-header .actions button.close:hover {
    background: #E81123;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.aui-modal .modal-container .modal-header .actions button.close:hover i {
    color: #fff
}

.aui-modal .modal-container .modal-content {
    padding: 20px;
    min-height: 100px
}

.aui-modal .modal-container .modal-footer {
    padding: 10px;
    background: #fbfbfb;
    text-align: right;
    border-top: 1px solid #eee;
}

.aui-modal .modal-container .modal-footer .modal-button {
    padding: 10px 15px;
    border: 1px solid #ddd
}

.aui-modal .modal-container .modal-footer .modal-button:hover {
    background: #fdfdfd
}

.aui-modal .modal-container .modal-footer .modal-button:active {
    background: #fff
}

.aui-modal .modal-container .modal-footer .modal-button.primary {
}

body.show-modal .aui-modal {
    display: block !important;
}

body.show-modal .aui-achaplorer {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

@media (max-width: 600px){
    .aui-navigation-bar .search-container{display: none}
    .aui-navigation-bar .path-container{width: 100%}
    .folder-explorer-panel{display: none}
    .file-explorer-panel{margin-left: 10px}
    .aui-split-panel .panel-handler{left: 0}
}







